.week-weather {
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
}

.app {
  margin-left: 15px;
  margin-top: 30px;
  margin-right: 15px;
  padding: 15px;
}

h1, h3 {
  margin-bottom: 0;
  margin-top: 5px;
}

* {
  /* outline: 1px solid; */
}

@media only screen and (max-width: 640px) {
  .week-weather {
    margin-left: 0;
    margin-right: 0;
  }
}