.weather-card {
  text-align: center;
  flex-grow: 1;
  cursor: pointer;
  /* margin-left: 5px;
  margin-right: 5px; */
}

.icon {
  width: 64px;
  height: 64px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: contain;
}

.temperature {
  display: inline;
  padding: 5px;
}